# Copy this file to '.env' and fill in your actual live credentials
WINDCHILL_HOST=https://your-windchill-server.company.com
WINDCHILL_USERNAME=your_username
WINDCHILL_PASSWORD=your_password

# LLM DETAILS
LLM_API_KEY="abcdefgh1234"
LLM_BASE_URL=https://openai.generative.engine.yourcompany.com/v1
LLM_MODEL=openai.gpt-5.2